@model TrekkingGuideApp.Models.Place
@{
	ViewData["Title"] = Model.Title;
}

<div class="content-box mt-4">
	<h1>@Model.Title</h1>
	<hr />
	@if (!string.IsNullOrEmpty(Model.PhotoPath))
	{
		<img src="@Url.Action("GetImage", "Place", new { fileName = Model.PhotoPath })" alt="@Model.Title" class="img-fluid mb-3" style="max-height: 400px; object-fit: cover;" />
	}
	<div class="blog-content">
		@Html.Raw(Model.Description)
	</div>
	<hr />
	<h3>Guide Itineraries</h3>
	@if (Model.Itineraries != null && Model.Itineraries.Any())
	{
		<ul>
			@foreach (var itinerary in Model.Itineraries)
			{
				<li>
					@* <p>@itinerary.ItineraryDetails</p> *@
					@* <small>Posted on @itinerary.CreateDate.ToShortDateString()</small> *@
				</li>
			}
		</ul>
	}
	else
	{
		<p>No itineraries avaliable for this place.</p>
	}
</div>